/******************************
          BASE
******************************/
html {
  height: 100%;
  font-size: 16px;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0B1825;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.7;
  color: #fff;
}

a {
  color: #fff;
}
h2 {
  font-size: 1.4rem;
}

/******************************
          LAYOUT
******************************/
.space {
  height: 100%;
  margin-top: 50px;
}
.ISS {
  width: 500px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
.ISS img {
  height: 500px;
  width: 500px;
  border-radius: 100%;
}
.latlong {
  font-size: 0.75rem;
  margin-bottom: 0;
}